
*{
    margin: 0;
    padding: 0;
}


.signupform {
    max-width: 400px;
    margin-left: 450px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 5px;
    
  }
  .signupform > img {
    width: 200px;
    
  }
  
  /* Styles for the form fields and labels */
  
  .signupform>input {
    width: 90%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
  }
  .signupform button {
    padding: 8px;
    width: 90%;
  }
  .signupform > input:focus {
    outline: 1px solid grey;
  }
  .linktopage{
    border: 1px solid gray;
    border-radius: 5px;
    max-width: 400px;
    padding: 10px;
    margin-left: 450px;
  }
  .linktopage span{
    font-weight: 500;
    font-size: 15px;
}