*{
    margin: 0;
    padding: 0;
}
 /* .home{
    position: relative;
}  */


/* .home-navigation{
    width: 15vw;
}
.home-timeline{
    width: 70vw;
}
.home-suggestion{
    width: 15vw;
    
}  */

