*{
    margin: 0;
    padding: 0;
}
.home-logo img {
    width: 130px;
}


a{
    text-decoration: none;
}




.navbar button:hover{
    background-color: gray!important;
}
.nav-item{
    padding: 10px!important;
    border: none;
    margin-right: auto;
    
}

/* @media screen and (max-width: 767px) {
    .nav-item {
        position: fixed;
        bottom: 0;
        left: 0;
        box-shadow: 10px 8px 10px 5px lightgray;
        width: 100%;
        height: 4rem;
        padding: 0 1rem;
        display: grid;
        align-content: center;
        border-radius: 10px;
        transition: .4s;
    }
    
} */

   
  
.navbar
{

        overflow: hidden;
        position: fixed;
        width: 16%;
        height: 100%;
        /* background-color: whitesmoke; */
   
        box-shadow: 10px 8px 10px 5px lightgray;
  
}



