*{
    margin: 0;
    padding: 0;
}
.suggestion{
    /* border: 1px solid blue!important; */
    margin-top: 30px;
    margin-right: 20px;
}

  
 
  .username__left {
    display: inline-flex;
  }
  
  .username__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 7px;
  }
  
  .relation {
    color: grey;
    font-size: 14px;
  }
 
  .suggestions__title {
    display: flex;
    color: grey;
    font-weight: 500;
    justify-content:space-between;
    margin-top: 15px;
    font-size: 17px;
  }
  
  .suggestions__username {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 10px;
    margin-left: 0;
  }
  
  .follow__button {
    color: #0095f6;
    font-weight: bold;
    background: 0;
    border: 0;
    margin-right: 5px;
    font-size: 14px;
  }
  .seeall-btn{
    font-weight: bold;
    background: 0;
    border: 0;
    margin-right: 5px;
    font-size: 15px;
  }
  
  .follow__button:hover {
    color: black;
    cursor: pointer;
  }
  
  .username {
    font-weight: 600;
    font-size: 16px;
  }